.App {
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin:0;
  height:100%;
}

#root{
  height:100%;
}

button{
  cursor: pointer;
}

.btn-full{
  background-color: rgb(34, 134, 114);
  color: white;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 500px;
  margin-right: 20px;
  border-width: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(34, 134, 114);
  font-weight: 500;
  transition: 0.2s;
}

.btn-empty{
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 500px;
  margin-right: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #1ABC9C;
  transition: 0.2s;
}

.btn-full:hover, .btn-empty:hover{
  transform: scale(1.1);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato-Regular'), local('Lato'), url(./fonts/Lato/Lato-Light.ttf) format('truetype');
}